nav {
    display: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: underline;
    color: black;
    font-size: 24px;
    font-weight: normal;
    font-style: inherit;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 5px;
}

nav ul li {
    list-style: none;
}